.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__column-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}