@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(52, 9, 73, 0.8); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #301a5f; /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
  border: 2px solid rgba(206, 206, 206, 0.842); /* creates padding around scroll thumb */
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.logo-heading {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
}

.logo-description {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  letter-spacing: 1.3px;
  text-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
}

#header .navigation {
  display: flex;
  align-items: center;
}

.navigation li {
  list-style: none;
  margin-left: 20px;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active {
  background-color: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 100;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains-front {
  z-index: 3;
}

#main-text {
  position: absolute;
  right: -50%;
  top: 27%;
  color: #fff;
  font-size: 6vw;
  white-space: nowrap;
  text-shadow: 0 10px 12px rgba(114, 59, 59, 0.25);
  z-index: 2;
}

#btn {
  text-decoration: none;
  padding: 4px 25px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  font-weight: 500;
  display: inline-block;
  transform: translateY(100px);
  z-index: 10000000000;
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  z-index: 10;
  max-width: 100%;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec h3 {
  font-size: 2rem;
  color: #fff;
  margin-right: 12px;
  margin-bottom: 10px;
}

.text-link {
  color: rgb(51, 149, 240);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.text-link a {
  color: rgb(51, 149, 240);
}

.thanks-text {
  display: flex;
  justify-content: center;
  align-items: center                                                                                                                                                                         ;
} 

.img {
  display: flex;
  flex-wrap: wrap;
  display: inline;
}

.imgs {
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #301a5f;
  border-radius: 5px;
  width: 300px;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  height: 300px;
}

.horizontal-rectangle {
  height: 226px;
}

.general {
  display: flex;
  padding: 0 100px;
}

.general-row {
  display: flex;
}

.long-rectangle {
  height: 532px;
}

.general-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.long-rectangle-2 {
  object-fit: contain;
  width: 264px;
  height: 523px;  
  top: 10px;
  position: relative;
}

.shorts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shorts1 {
  display: flex;
}

.footer {
} 

.footer-text {
  position: relative;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link-text {
  top: 50%;
  font-size: 1.6em;
  color: rgb(51, 149, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Normal */
@media only screen and (max-width: 40.625em) {
  body::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: rgba(52, 9, 73, 0.8); /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #301a5f; /* color of the scroll thumb */
    border-radius: 40px; /* roundness of the scroll thumb */
    border: 1px solid rgba(206, 206, 206, 0.842); /* creates padding around scroll thumb */
  }
  
  #header {
    padding: 24px 20px 20px !important;
  }

  #header .logo {
    width: 100%;
  }

  .logo-heading {
    font-size: 1em;
    display: flex;
    white-space: nowrap;
    letter-spacing: 1px;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
  }

  .logo-description {
    font-size: 0.9em;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  .navigation {
    display: none !important;
  }

  section img#mountains-front {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  section img#moon {
    position: absolute;
    top: 80px;
  }

  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
  }

  .imgs {
    width: 100%;
    margin: 16px 0;
  }

  #main-text {
    position: absolute;
    right: -100%;
    transform: translateY(-50%);
    top: 60%;
    font-size: 2.1em;
    text-shadow: 0 6px 8px rgba(114, 59, 59, 0.25);
  }

  #btn {
    /* font-size: 1.2em;
          padding: 3px 18px; */
  }

  .sec {
    padding: 20px;
  }

  .sec h2 {
    font-size: 2.5em;
  }

  .sec h3 {
    font-size: 1.5em;
    padding: 20px 0;
    margin: 0;
  }

  .square {
    height: auto;
  }

  .general {
    display: block;
    padding: 20px;
    width: 100%;
  }

  .horizontal-rectangle {
    height: auto;
  }

  .long-rectangle {
    height: auto;
  }

  .long-rectangle-2 {
  }

  .text-link {
    display: none;
  }

  .long-rectangle-2 {
    /* width: auto; */
    height: auto;
    margin: 16px auto;
    display: flex;
  }

  .general-row {
    display: block;
  }

  .footer-text {
    padding: 20px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-link-text {
    top: 20% !important;
  }
}

/* Bigger */
@media only screen and (min-width: 40.6875em) and (max-width: 46.1875em) {
  body::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: rgba(52, 9, 73, 0.8); /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #301a5f; /* color of the scroll thumb */
    border-radius: 40px; /* roundness of the scroll thumb */
    border: 1px solid rgba(206, 206, 206, 0.842); /* creates padding around scroll thumb */
  }

  #header {
    padding: 24px 20px 20px !important;
  }

  #header .logo {
    width: 100%;
  }

  .logo-heading {
    font-size: 1em;
    display: flex;
    white-space: nowrap;
    letter-spacing: 1px;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
  }

  .logo-description {
    font-size: 0.9em;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  .navigation {
    display: none !important;
  }

  section img#mountains-front {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  section img#moon {
    position: absolute;
    top: 80px;
  }

  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
  }

  #main-text {
    position: absolute;
    right: -100%;
    /* transform: translateY(-50%); */
    top: 60%;
    font-size: 2.1em;
    text-shadow: 0 6px 8px rgba(114, 59, 59, 0.25);
  }

  .imgs {
    width: 100%;
  }

  .sec {
    padding: 30px;
  }

  .sec h2 {
    font-size: 2.5em;
  }

  .sec h3 {
    font-size: 1.5em;
    padding: 20px 0;
    margin: 0;
  }
  .square {
    height: auto;
  }

  .general {
    display: block;
    padding: 20px;
    width: 100%;
  }

  .horizontal-rectangle {
    height: auto;
  }

  .long-rectangle {
    height: auto;
  }

  .long-rectangle-2 {
  }

  .text-link {
    display: none;
  }

  .long-rectangle-2 {
    width: auto;
    height: 523px;
    margin: 16px auto;
    display: flex;
  }

  .general-row {
    display: block;
  }

  .footer-text {
    padding: 20px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-link-text {
    top: 20% !important;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  #header {
    padding: 30px 30px 30px !important;
  }

  .logo-heading {
    font-size: 1.4em;
    letter-spacing: 1.2px;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .logo-description {
    font-size: 1.2em;
  }

  .navigation li {
    margin-left: 12px;
  }

  section img#mountains-front {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  #main-text {
    right: -75%;
    top: 45%;
  }
}
